{% extends "base.html" %} {% block content %}
<div class="container pt-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add income</li>
        </ol>
      </nav>
    <h3>Add Income</h3>

    <div class="card">
        <div class="card-body">
            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="amout" class="form-label">Amout</label>
                    <input type="number" name="amount" id="amount" class="form-control form-control-sm" value="{{values.amount}}">
                </div>
                <div class="form-group mt-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control form-control-sm" value="{{values.description}}">
                </div>
                <div class="form-group mt-3">
                    <label for="source" class="form-label">Source</label>
                    <select type="text" name="source" id="source" class="form-control form-control-sm">
                    {% for source in sources %}
                        <option value="{{source.name}}" name="source">{{source.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="income_date" class="form-label">Date of expense</label>
                    <input type="date" name="income_date" id="date" class="form-control form-control-sm" value="{{values.date |date:'Y-m-d'}}">
                </div>
                <button class="add-expense-btn btn btn-primary d-block mt-3">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
