{% extends "base.html" %} {% load static %} {% block content %}
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            My income
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<h3 class="mt-2">Income Summary</h3>
<div class="row mt-4">
  <div class="col-md-5">
    <div class="chart-container">
      <canvas id="summary-chart" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<script src="{% static 'income/js/stats.js' %}" defer></script>
{% endblock content %}