{% extends "base.html" %}

{% block content %}
<div class="content">
    <h3 class="mt-4">Prefered currency</h3>

    <form action="{% url 'preferences' %}" method="post" class="mt-3">
        {% csrf_token %}
        <div class="input-group">
            <select name="currency" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            {% if user_preference.currency %}
                <option selected name="currency" val="{{user_preference.currency}}">{{user_preference.currency}}</option>
            {% else %}
                <option selected>Choose...</option>
            {% endif %}
                {% for currency in currencies %}
                    <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock content %}